@model IEnumerable<RooyaDev.Models.Team>

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="center">
                    <i class="fa fa-id-card"> </i> <label> Team </label>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->


    <div class="col-md-12">
        <button data-toggle="modal" data-target="#modal1" class="btn btn-success"><i class="fa fa-plus-square"></i> &nbsp; ADD</button>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"></div>
            <!-- Table -->
            <table class="table table-hover table-bordered">
                <tr>
                    <td>Name</td>
                    <td>Photo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-3">@item.Name</td>
                        <td class="col-md-3"><img src="~/Uploads/Team/@(item.ID).jpg" /></td>
                        <td class="col-md-2">
                            <a href="~/Teams/Edit/@item.ID" class="btn btn-info">Edit</a>
                        </td>
                        <td class="col-md-2">
                            <a href="~/Teams/Details/@item.ID" class="btn btn-primary">
                                Details
                            </a>
                        </td>
                        <td class="col-md-2">
                        
                            @using (Html.BeginForm("Delete", "Teams", new { id = item.ID }, FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" onclick="return confirm('Are You Sure You Want Delete This Employee ?!');" class="btn btn-danger">Delete</button>
                            }  
                        
                        </td>
                    </tr>

                }


            </table>



        </div><!-- .content -->

    </div>
</div> <!-- /#right-panel -->
<!-- /#right-panel -->
<!-- Right Panel -->

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white"><i class="fa fa-plus-square"></i> Add Person</h3> <hr />
            <form action="~/Teams/Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Name</span>
                    <input type="text" name="Name" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />

                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Job</span>
                    <input type="text" name="Job" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />

                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3"> Facebook</span>
                    <input type="url" name="FaceBook" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />

                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3"> Twitter</span>
                    <input type="url" name="Twitter" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />
                <div class="input-group textarea">
                    <span class="input-group col-md-4" id="basic-addon3"> Linkedin</span>
                    <input type="url" name="LinkedIn" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Upload Photo</span>
                    <input type="file" name="Photo" required class="col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
</div>