@model RooyaDev.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="center">
                    <i class="fa fa-laptop"> </i> <label> Details contacts</label>
                </div>
                <div class="header-left">
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->
    <div class="col-md-12">
        <h3 class="white"><i class="fa fa-laptop"></i>Contact Details</h3> <hr />
        <table class="table table-bordered table-hover white">
            <tr class="alert">
                <td class="col-md-2">Name</td>
                <td class="col-md-10">@Model.Name</td>
            </tr>
            <tr class="alert">
                <td class="col-md-2">Subject</td>
                <td class="col-md-10">@Model.Subject</td>
            </tr>
            <tr class="alert">
                <td class="col-md-2">Email</td>
                <td class="col-md-10">@Model.Email</td>
            </tr>
            <tr class="alert">
                <td class="col-md-2">message</td>
                <td class="col-md-10">@Model.Message</td>
            </tr>
        </table>
        <a href="~/Contacts/Edit/@Model.ID" class="btn btn-info">edit</a>

    </div>
</div>